body {
    margin: 0 0 0 0 ;
    background-color: #f6f6f6;
}
button {
    background-color: indianred; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#image {
    height: 200px;
    width: 300px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7FDBFF;
    height: 20px;
    margin-top: 4vw;
}
#parent_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7FDBFF;
    height: 100px;
}

.film_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    width: 50%;margin: 0 auto;
}

.film_propertyes {
    display: flex;
    flex-direction: column;
}

.property {
    margin: 0 0 0 0;
    width: 300px
}

.add_actor {
    display: flex;
    flex-direction: row;
}

.prop_film {
    width: 70px;
}

#actor_names_container {
    display: flex;
    flex-direction: column;
}

#content_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#close_window {
    position: absolute;
    top: 1px;
    right: 1px;
    color: red
}
#close_window:hover {
    cursor: pointer;
}

#search_block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    border: 2px solid darkgray;
    width: 510px;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}